.TopTracks {
	list-style: none;
	padding: 0 15px;
}

.TopTracks-track {
	display: flex;
	width: 100%;
	flex-direction: row;
	padding: 5px;
	align-items: center;
}

.TopTracks li:first-child {
	color: #999;
}

.TopTracks li:nth-child(even) {
	background: #eee;
}

.TopTracks-track img {
	vertical-align: middle;
}

@media (max-width: 767px) {
	.TopTracks {
		font-size: 14px;
	}
}

@media (max-width: 479px) {
	.TopTracks li:first-child {
		display: none;
	}
	.TopTracks-hidden_mobile {
		display: none;
	}
}
