.Auth {
	padding: 15px 0;
}

.Auth h3 {
	margin: 35px auto;
	font-weight: 700;
}

.Auth-email_container {
	margin: 0 auto 15px;
}

.Auth-password_container {
	margin: 0 auto 15px;
}

.Auth input,
.Auth button {
	padding: 10px;
	min-width: 300px;
	max-width: 100%;
	border-radius: 4px;
	font-size: 16px;
}
.Auth input {
	border: 1px solid #ccc;
}
.Auth button {
	width: 300px;
	background: #f4425c;
	color: #fff;
	border: none;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s;
}
.Auth button:hover {
	opacity: 0.5;
}
.Auth a.resetPassword {
	color: #f4425c;
	cursor: pointer;
	transition: all 0.3s;
}
.Auth a.resetPassword:hover {
	color: #f4425c;
	text-decoration: underline;
}
