.App-trending {
	flex: 2;
	background: #333;
	color: #fff;
	padding: 15px 0;
}

.App-results {
	list-style: none;
	padding: 0;
}
.App-result {
	color: #aaa;
	padding: 3px 6px;
	margin: 0 3px 6px;
	display: inline-block;
	border: 1px solid #555;
	border-radius: 3px;
	font-size: 12px;
	transition: all 0.3s;
}
.App-result:hover {
	color: #333;
	cursor: pointer;
	background: #f4425c;
	border: 1px solid #f4425c;
}
