.App-header {
	flex: 1;
	background-color: #222;
	padding: 0 20px;
	color: white;
	max-height: 90px;
}
.App-logo {
	height: 60px;
	vertical-align: middle;
	margin: 0 20px 0 0;
}
.App-title {
	font-size: 1.5em;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	color: #fff;
	transition: all 0.3s;
	text-decoration: none;
}
.App-title:hover {
	color: #f4425c;
	text-decoration: none;
}
.Header-menu {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	flex: 1 1 2;
	flex-direction: row;
}
.App-header .Menu-bar_item {
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;
}
.Header-menu button.Menu-bar_item {
	color: #aaa;
}
.Header-menu .Menu-bar_item:hover {
	color: #f4425c;
}
.Header-menu_button {
	border: none;
	background: transparent;
	margin: 0 5px;
}

.Menu-bar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
}
.Menu-bar_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1140px;
}
.Menu-bar_item {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

@media (max-width: 767px) {
	.App-header {
		max-height: none;
	}
	.App-logo {
		margin-right: 10px;
	}
	.Header-menu {
		display: block;
		width: 100%;
	}
	.Header-menu li {
		display: inline-block;
	}
	.Header-menu li a {
		margin: 0 5px;
	}
	.Header-menu_button {
		margin: 0 5px;
	}
	.Menu-bar_container {
		justify-content: center;
	}
	.Menu-bar_container > a {
		margin-right: 0;
	}
}
